html {
    overflow-y: scroll;
}
body {
  margin: 2em;
  margin-top: 1em;
}
p {
  line-height: 1.5em;
}

.about a {
  text-shadow: none;
  box-shadow: none;
}
.title {
  font-family: 'Lobster Two', cursive;
  font-size: 62px;
  font-weight: bold;
  margin: 0em;
  margin-top: -.2em;
}
.title a {
  text-decoration: none;
  text-shadow: none;
  box-shadow: none;
  color: black;
}
.heading {
    background-color: red;
    padding: 1em;
    display: block;
}
.subtitle {
  color: white;
  font-style: italic;
}
h3 {
  font-style: italic;
  color: grey;
}
.evt {
  margin: .3em;
  border: 1px solid grey;
  display: block;
}
.evt-title {
  padding: 1em;
  font-size: 1.4em;
  cursor: hand;
}
.evt-detail {
  padding: -0em 2em 2em 2em;
  font-size: 1.0em;
  display: none;
  cursor: hand;
}

.togglebox:checked + .evt-detail {
  display: block;
}
input {
  display: none;
}
.about {
  text-align: right;
  width: 100%;
  font-style: italic;
  font-size: .7em;
}

a {
  color: black;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
  box-shadow: inset 0 -1px 0 0 #fff, inset 0 -3px 0 0 #ccc;
}
